@keyframes blinkingFrames {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

.blinking {
  animation-name: blinkingFrames;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}
